@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bg {
  background-color: #002147;
}

.nav-border {
  border-bottom: 3px solid #FFB606;
}

.nav-btn {
  border: 2px solid #FFB606;
}

.card-style {
  box-sizing: border-box;
  border: 1px solid rgba(19, 19, 19, 0.15);
  border-radius: 16px;
}

.card-img-div {
  /* border-radius: 16px; */
  background: rgb(243, 243, 243);
}

.view-details {
  border-radius: 10px;
  background: rgb(35, 190, 10);
  padding: 8px 18px;
  font-size: 18px;
  font-weight: 500;
  color:white
}

.bg-img{
  background-image: url('https://i.ibb.co/j3pvnnr/premium-photo-1683134520102-a7b65579c4bf-q-80-w-2044-auto-format-fit-crop-ixlib-rb-4-0.jpg');
  background-size: cover;
}